<ion-header>
    <ion-toolbar>
      <ion-title class="title">
        getDressed.
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <p class="stitle">Shoes </p>

    <ion-card>
        <img src="https://m.media-amazon.com/images/I/71ZAfiOopUL._AC_UL480_FMwebp_QL65_.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Shoes 1</ion-card-subtitle>
          <ion-card-title class="otitle">Adidas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          nibba
        </ion-card-content>
      </ion-card>

      <ion-card>
          <img src="https://m.media-amazon.com/images/I/81HAR8Z+SYL._AC_UL480_FMwebp_QL65_.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Shoes 2</ion-card-subtitle>
            <ion-card-title class="otitle">Puma</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            nibba
          </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://m.media-amazon.com/images/I/91WWrShOMKL._AC_UL480_FMwebp_QL65_.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Shoes 3</ion-card-subtitle>
              <ion-card-title class="otitle">Nike</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              nibba
            </ion-card-content>
          </ion-card>

          <ion-card>
              <img src="https://m.media-amazon.com/images/I/81FDisx4H1L._AC_UL480_FMwebp_QL65_.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Shoes 4</ion-card-subtitle>
                <ion-card-title class="otitle">Fila</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                nibba
              </ion-card-content>
            </ion-card>

  </ion-content>


    <ion-button href="/"  >Return to home page</ion-button>
