@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.title{
  font-family: 'Bitter', serif;
}

.itemlistbutton{
  font-family: 'Quicksand', sans-serif;
  width: 300px;
}