<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      getDressed.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Catalog</ion-card-subtitle>
        <ion-card-title>What are you looking for?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= './headwear/headwear.module#HeadwearPageModule'>Headwear</ion-button></p>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= './shirts/shirts.module#ShirtsPageModule'>Shirts</ion-button></p>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= './pants/pants.module#PantsPageModule'>Pants</ion-button></p>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= './shoes/shoes.module#ShoesPageModule'>Shoes</ion-button></p>
      </ion-card-content>
      