<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      getDressed.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="stitle">catalog.</p>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>What are you looking for?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= "headwear">Headwear</ion-button></p>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= "shirts">Shirts</ion-button></p>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= "pants">Pants</ion-button></p>
        <p><ion-button color= "#7A1010" class="itemlistbutton" href= "shoes">Shoes</ion-button></p>
      </ion-card-content>
      