<ion-header>
    <ion-toolbar>
      <ion-title class="title">
        getDressed.
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <p class="stitle">shirts.</p>


    <ion-card>
        <img src="https://m.media-amazon.com/images/I/718xLpwcjrL._AC_UL480_FMwebp_QL65_.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Shirt 1</ion-card-subtitle>
          <ion-card-title class="otitle">Star Wars</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          nibba
        </ion-card-content>
      </ion-card>

      <ion-card>
          <img src="https://m.media-amazon.com/images/I/71B6wVjYfYL._AC_UL480_FMwebp_QL65_.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Shirt 2</ion-card-subtitle>
            <ion-card-title class="otitle">Lacoste</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            nibba
          </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://m.media-amazon.com/images/I/81unLk41o-L._AC_UL480_FMwebp_QL65_.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Shirt 3</ion-card-subtitle>
              <ion-card-title class="otitle">Champion</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              nibba
            </ion-card-content>
          </ion-card>

          <ion-card>
              <img src="https://m.media-amazon.com/images/I/614qOoaCK5L._AC_UL480_FMwebp_QL65_.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Shirt 4</ion-card-subtitle>
                <ion-card-title class="otitle">MARVEL</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                nibba
              </ion-card-content>
            </ion-card>

  </ion-content>



    <ion-button href="/"  >Return to home page</ion-button>
