<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      getDressed.
    </ion-title>
  </ion-toolbar>
</ion-header>

<p class="stitle">pants.</p>

<ion-content>

  <ion-card>
      <img src="https://m.media-amazon.com/images/I/71Bfhvc0RNL._AC_UL480_FMwebp_QL65_.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Pants 1</ion-card-subtitle>
        <ion-card-title class="otitle">Adidas</ion-card-title>
      </ion-card-header>
      <ion-card-content class="price">
        nibba
      </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="https://m.media-amazon.com/images/I/81uITAVQGeL._AC_UL480_FMwebp_QL65_.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Pants 2</ion-card-subtitle>
          <ion-card-title class="otitle">Puma</ion-card-title>
        </ion-card-header>
        <ion-card-content  class="price">
          nibba
        </ion-card-content>
      </ion-card>

      <ion-card>
          <img src="https://m.media-amazon.com/images/I/81vXKpwAwmL._AC_UL480_FMwebp_QL65_.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Pants 3</ion-card-subtitle>
            <ion-card-title class="otitle">Nike</ion-card-title>
          </ion-card-header>
          <ion-card-content  class="price">
            nibba
          </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://m.media-amazon.com/images/I/91p0PYbh90L._AC_UL480_FMwebp_QL65_.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Pants 4</ion-card-subtitle>
              <ion-card-title class="otitle">Champion</ion-card-title>
            </ion-card-header>
            <ion-card-content  class="price">
              nibba
            </ion-card-content>
          </ion-card>

</ion-content>


  <ion-button href="/"  >Return to home page</ion-button>
