@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
.title{
    font-family: 'Bitter', serif;
  }
.stitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
}
.otitle{//titulo del producto
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-weight: bold;
  }
  